{% extends 'base.html.twig' %}

{% block title %}MODIFIER LE MOT DE PASSE
{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="mb-3 mt-5">Modifier votre mot de passe</h3>

		{{ form(form) }}
			<p class="my-2">
				<a href="{{path('app_account')}}">
					Retourner à mon compte
				</a>
			</p>
		</div>
	{% endblock %}
