<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="5000">
			<img src="{{asset("images/pexels-godisable-jacob-949670.jpg")}}" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<img src="{{asset("images/pexels-godisable-jacob-3689150.jpg")}}" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<img src="{{asset("images/pexels-godisable-jacob-3689122.jpg")}}" class="d-block w-100" alt="...">
		</div>
	</div>
</div>
