{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}
	{% include "home/_caroussel.html.twig" %}
	<h1 class="text-center my-5">Les beaux jours arrivent !
	</h1>
	<div class="container">
		<div class="row">
			{% for p in products %}
				<div class="col-lg-4 col-md-6 mb-5">
					{% include "product/_product_card.html.twig" %}
				</div>
			{% endfor %}
		</div>
	</div>
	<p class="text-center my-5">FRAIS DE PORT GRATUIT A PARTIR DE 80 EUROS D'ACHAT</p>


	{% include "product/_carousselProduct.html.twig" %}


{% endblock %}
{% block footer %}{% endblock %}
