<div class="container-fluid border-top">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mt-2">
				<ul>
					<li class="text-dark my-2">DES QUESTIONS ?</li>
					<li class="my-2">
						<a href="#" class="text-dark ">NOUS CONTACTER</a>
					</li>
					<li class="my-2">
						<a href="#" class="text-dark ">LIVRAISON</a>
					</li>
					<li class="my-2">
						<a href="#" class=" text-dark">ECHANGE OU REMBOURESSEMENT</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 mt-2">
				<ul>
					<li class="text-dark my-2">
						INFORMATIONS SUPPLÉMENTAIRES</li>
					<li class="my-2">
						<a href="#" class="text-dark">CONDITIONS DE VENTE</a>
					</li>
					<li class="my-2">
						<a href="#" class=" text-dark">MENTIONS LÉGALES</a>
					</li>
					<!-- <li><a href="#" class="nav-link text-dark">GUIDE DES TAILLES</a></li> -->
					<li class="my-2">
						<a href="#" class=" text-dark">POLITIQUE DE REMBOURSSEMENT</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="d-flex my-0">
					<li class="icone">
						<a class="nav-link text-dark my-1 mx-1" href="https://www.facebook.com/">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="icone my-1 mx-1">
						<a class="nav-link text-dark" href="https://twitter.com/home">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="icone my-1 mx-1">
						<a class="nav-link text-dark" href="https://mail.google.com/">
							<i class="fas fa-at"></i>
						</a>
					</li>
				</ul>
				<div class="px-5 mt-0">
					<a href="index.php"><img src="{{asset("images/GIGISBRAND.png")}}" alt="logo"></a>
				</div>
			</div>
		</div>
	</div>
